################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Consumer/bin
/Consumer/obj
/Consumer/Consumer.csproj.user
/Producer/obj
/Producer/bin
/.vs
/Consumer/Properties/PublishProfiles
